#!/usr/bin/env python
# -*- coding: utf-8 -*-

from __future__ import print_function

from crwy.spider import Spider


class ${class_name}(Spider):
    def __init__(self):
        Spider.__init__(self)

    def crawler_${spider_name}(self):
        url = 'http://example.com'
        html_cont = self.html_downloader.download(url)
        soups = self.html_parser.parser(html_cont)
        print(soups)

    def run(self):
        self.crawler_${spider_name}()