#!/usr/bin/env python
# -*- coding: utf-8 -*-

# 该文件由crwy自动生成, project_name: ${project_name}

import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATA_DIR = os.path.join(BASE_DIR, 'data')
